.AppLink {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  color: var(--primary-color);
}

.primary {
  color: var(--primary-color);
}

.invertedSecondary {
  color: var(--inverted-secondary-color);
}
