.Button {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.default {
  color: var(--inverted-secondary-color);
}

.outline {
  padding: 10px 15px;
  border: 1px solid var(--primary-color);
  background: none;
  color: var(--primary-color);
}
